*{
    margin: 0;
    padding: 0;
    background-color: lightslategrey;
}

body {
    color: turquoise;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    border-style: groove;
    border-color: rgb(219, 34, 2);
    border-width: 15px;
    background-color: #0a128d;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    /* border-style: outset;
    border-color: violet; */
    /* padding: 25px; */
    display: inline;

}

header a {
    text-decoration: none;
    color: honeydew;
    background: #0a128d;
}

header nav {
    float: right;
    margin: 7px 0;
    background: #0a128d;
}

header nav ul {
    background-color: #0a128d;
}
header nav ul li {
    display: inline;
    background-color: #0a128d;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

.break{
    padding-top: 40px;
}


.bio {
    height: 100px;
    padding: 50px 10px;
    margin: 25px auto;
    /* border-top-color: blueviolet; */
    border-style: inset;
    border-width: 7px;
}

.bio h2 {
    font-size: 36px;
}

.bio p {
    padding-bottom: 24px;
}

#bio {
    padding: 50px;
}

.influences h2 {
    font-size: 36px;
}

.recordings h2 {
    font-size: 48px;
}

.recordings h2 {
    font-size: 36px;
}



footer {
    margin-top: 200px;
    margin-left: 57px;
    color: #0a128d;
}